@import "../../responsive.scss";

.homepage {
  display: flex;
  height: 100%;

  .text-container {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 50px;

      @include sm {
        justify-content: flex-start;
      }

      .title {
        font-size: 62px;

        @include lg {
          font-size: 38px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        h3 {
          font-weight: lighter;
        }

        @include sm {
          display: none;
        }
      }
    }
  }

  .img-container {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }

    @include md {
      display: none;
    }
  }
}
