.list-page {
    height: 100%;
    display: flex;

    .list-container {
        flex: 3;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
        }
    }

    .map-container {
        flex: 2;
        background-color: #fcf5f3;
    }
}